.newChat{
    width: 45%;
    max-width: 515px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

.newChat-Head{
    display: flex;
    background-color: #00bfa5;
    align-items: center;
    padding: 60px 15px 15px 15px;
}